<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYBS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="n-b.css">
    <link rel="stylesheet" href="hamberger.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><text x='0' y='14' font-size='14'>🦐</text></svg>" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


    <!-- Carousel with Auto Slide and GIF -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <label class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <input type="checkbox">
                <div class="checkmark">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </label>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto align-items-center w-100">
                    <img src="https://github.com/Nah-Null/HYBS/blob/main/img/HYBS.png?raw=true" width="20%" alt="">
                    <li class="nav-item navbar_a">
                            <a class="nav-link" href="/home">HOME</a>
                        </form>
                    </li>
                    <li class="nav-item navbar_a">
                        <a class="nav-link" href="/member">Member </a>
                    </li>
                    <li class="nav-item navbar_a">
                        <a class="nav-link" href="/hMusic">Music</a>
                    </li>
                    <li class="nav-item navbar_a">
                        <a class="nav-link" href="/hApparel">Apparel</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
    <div class="carousel-indicators">
        <!-- ปุ่ม Indicators -->
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <!-- รูปภาพแยกจากปุ่ม -->
    <div class="carousel-indicators-conten">
        <!-- <img src="/img/HYBS.png" alt="HYBS Logo" width="100%"> -->
    </div>
    
        <div class="carousel-inner">
          <!-- 1 -->
          <div class="carousel-item active">
                <video src="vd/HYBS - Tip Toe (Official Video).webm" autoplay muted loop width="100%" height="600vh" style="object-fit: cover;" preload="auto"></video>
            </a>
        </div>
          <!-- 2 -->
          <div class="carousel-item">
                <video src="vd/HYBS - Ride (Official Video).webm" autoplay muted loop width="100%" height="699vh" style="object-fit: cover;" preload="auto"></video>
            </a>          
        </div>
          <!-- 3 -->
          <div class="carousel-item">
                <video src="vd/HYBS - Go Higher (Official Video).webm" autoplay muted loop width="100%" height="699vh" style="object-fit: cover;" preload="auto"></video>
            </a>  
        </div>
          <!-- 4 -->
          <div class="carousel-item">
                <video src="vd/HYBS - Prettiest To Me (Official Video).webm" autoplay muted loop width="100%" height="699vh" style="object-fit: cover;" preload="auto"></video>
            </a>
        </div>
        </div>
      </div>     

      <div class="row mb0">
        <div class="column width-12">
            <H1>BESTSELLERS</H1>
            <div class="row grid content-grid-4 big" style="visibility: visible;">

                <!-- conten -->
                <div class="grid-item color-white grid-sizer product design mb0 no-transition">
                    <div class="thumbnail product-thumbnail" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#C7B299" data-hover-bkg-opacity="0.72">
                        <a class="overlay-link" href="/HYBS-0011">
                            <img src="https://github.com/Nah-Null/HYBS/blob/main/img/Well%20Done%20CD%20Album.jpg?raw=true" alt="" style="transition-duration: 700ms;">
                            <span class="overlay-info" style="transition-duration: 700ms; background-color: rgba(199, 178, 153, 0.72);">
                                <span>
                                    <span>
                                        VIEW															</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="product-details center">
                        <h5 class="product-title">
                            <a href="/HYBS-0011">
                                HYBS : Well Done CD Album
                            </a>
                        </h5>
                        <h4 class="price-overall">
                            <span>฿590.-</span>
                        </h4>
                    </div>
                </div>
                <div class="grid-item color-white grid-sizer product design mb0 no-transition">
                    <div class="thumbnail product-thumbnail" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#C7B299" data-hover-bkg-opacity="0.72">
                        <a class="overlay-link" href="/HYBS-0013">
                            <img src="https://github.com/Nah-Null/HYBS/blob/main/img/Well%20Done%20Sweatshirt.jpg?raw=true" alt="" style="transition-duration: 700ms;">
                            <span class="overlay-info" style="transition-duration: 700ms; background-color: rgba(199, 178, 153, 0.72);">
                                <span>
                                    <span>
                                        VIEW															</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="product-details center">
                        <h5 class="product-title">
                            <a href="/HYBS-0013">
                                HYBS : Well Done Sweatshirt
                            </a>
                        </h5>
                        <h4 class="price-overall">
                            <span>฿1490.-</span>
                        </h4>
                    </div>
                </div>
                
                <div class="grid-item color-white grid-sizer product design mb0 no-transition">
                    <div class="thumbnail product-thumbnail" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#C7B299" data-hover-bkg-opacity="0.72">
                        <a class="overlay-link" href="/HYBS-0015">
                            <img src="https://github.com/Nah-Null/HYBS/blob/main/img/Well%20Done%20T-Shirt%2001.jpg?raw=true" alt="" style="transition-duration: 700ms;">
                            <span class="overlay-info" style="transition-duration: 700ms; background-color: rgba(199, 178, 153, 0.72);">
                                <span>
                                    <span>
                                        VIEW															</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="product-details center">
                        <h5 class="product-title">
                            <a href="/HYBS-0015">
                                HYBS : Well Done T-Shirt 01
                            </a>
                        </h5>
                        <h4 class="price-overall">
                            <span>฿790.-</span>
                        </h4>
                    </div>
                </div>
                
                <div class="grid-item color-white grid-sizer product design mb0 no-transition">
                    <div class="thumbnail product-thumbnail" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#C7B299" data-hover-bkg-opacity="0.72">
                        <a class="overlay-link" href="/HYBS-0012">
                            <img src="https://github.com/Nah-Null/HYBS/blob/main/img/Making%20Steak%20Vinyl%20(2024%20Edition).jpg?raw=true" alt="" style="transition-duration: 700ms;">
                            <span class="overlay-info" style="transition-duration: 700ms; background-color: rgba(199, 178, 153, 0.72);">
                                <span>
                                    <span>
                                        VIEW															</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="product-details center">
                        <h5 class="product-title">
                            <a href="/HYBS-0012">
                                HYBS : Making Steak Vinyl (2024 Edition)
                            </a>
                        </h5>
                        <h4 class="price-overall">
                            <span>฿1800.-</span>
                        </h4>
                    </div>
                </div>    

                <!-- conten -->

                
        </div>
    </div>


<!-- DEV -->
<div class="Developer">
    <h1>Developer</h1>
    <!-- ใช้ flex สำหรับการจัดสองคอลัมน์ -->
    <div class="vertical-container">
        <!-- ภาพและข้อความที่ 1 -->
        <div class="vertical-item">
            <a href="https://nah-null.github.io/MY_Resume/" target="_blank">
            <img src="https://github.com/Nah-Null/Gallery/blob/main/IMG_0237.JPG?raw=true" alt="ภาพ 1">
        </a>
            <h3 >นาย อมรภูวิชญ์ ฐิตภัทรพงศ์ <br> 6652100100</h3>
        </div>

        <!-- ภาพและข้อความที่ 2 -->
        <div class="vertical-item">
            <a href="https://ammarit26239.github.io/Resume/" target="_blank">
            <img src="https://github.com/Nah-Null/HYBS/blob/main/img/56843.jpg?raw=true" alt="ภาพ 2">
        </a>
            <h3>นาย อัมฤทธิ์ อินทรสุนทร 6652100312</h3>
        </div>

        <!-- ภาพและข้อความที่ 3 -->
        <div class="vertical-item">
            <a href="https://ratchanon0533.github.io/MyFirstPage/myresume.html#home" target="_blank">
            <img src="https://github.com/Nah-Null/HYBS/blob/main/img/img.JPG?raw=true" alt="ภาพ 3">
        </a>
            <h3>นายรัชชานนท์ สาลี 6652100533</h3>
        </div>

        <!-- ภาพและข้อความที่ 4 -->
        <div class="vertical-item">
            <a href="https://papaphaiiiii.github.io/MyResume/" target="_blank">
            <img src="https://github.com/Nah-Null/Gallery/blob/main/IMG_0091.JPG?raw=true" alt="ภาพ 4">
        </a>
            <h3>นาย ณัฐิวุฒิ อยู่เจริญ 6652100908</h3>
        </div>

        <!-- ภาพและข้อความที่ 5 -->
        <div class="vertical-item">
            <a href="https://nah-null.github.io/MY_Resume/" target="_blank">
            <img src="https://github.com/Nah-Null/HYBS/blob/main/img/467458517_940168041316174_1814678144133362517_n.jpg?raw=true" alt="ภาพ 5">
            </a>
            <h3>นางสาว สริตา สะวะริ 6652100924</h3>
        </div>

        <!-- ภาพและข้อความที่ 6 -->
        <div class="vertical-item">
            <a href="https://nah-null.github.io/Resume_anon/" target="_blank">
            <img src="https://github.com/Nah-Null/Resume_anon/blob/main/download.jpg?raw=true" alt="ภาพ 6">
            </a>
            <h3>นาย อานนท์ แสงมณี 6652100193</h3>
        </div>
        <!-- ภาพและข้อความที่ 7 -->
        <div class="vertical-item">
            <a href="https://aeriry.github.io/MyResume/" target="_blank">
            <img src="https://github.com/Nah-Null/HYBS/blob/main/img/55145.jpg?raw=true" alt="ภาพ 6">
            </a>
            <h3>นางสาว ศิรัญญา ชูโชติ 6652100029</h3>
        </div>
    </div>
</div>
<!-- DEV -->

    
<footer>
    <ul class="wrapper">
    <a href="  https://www.facebook.com/hybsband
    " style="color: black;">   
  <li class="icon facebook">
    <span class="tooltip">Facebook</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      height="1.2em"
      viewBox="0 0 320 512"
    >
      <path
        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
      ></path>
    </svg>
  </li>
    </a>

    <a href="https://www.youtube.com/@HYBSBAND" style="color: black;">
  <li class="icon youtube">
    <span class="tooltip">Youtube</span>
    <svg 
    height="64px" 
    width="35px" 
    version="1.1" id="Layer_1" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    viewBox="-50.71 -50.71 562.42 562.42" 
    xml:space="preserve" 
    fill="#000000" 
    stroke="#000000" 
    transform="matrix(1, 0, 0, 1, 0, 0)">
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier"> <g> 
    <path style="fill:#000000;" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z">
    </path> </g> </g>
    </svg>
</li>
  </a>

  <a href="https://www.instagram.com/hybsband/?locale=no&hl=ar" style="color: black;">
    <li class="icon instagram">
        <span class="tooltip">Instagram</span>
        <svg
          viewBox="0 0 16 16"
          class="bi bi-instagram"
          fill="currentColor"
          height="1.2em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
          ></path>
        </svg>
        </li>
        </a>
    </ul>
    <h5 style="font-size: 15px;">This website was created to submit assignments for the Full Stack Developer course.</h5>
</footer>
<script src="app.js"></script>

</body>
</html>
